COIN=PEPEPOW
NET=mainnet
DB_DIRECTORY=/var/lib/electrumx-pepepow
DAEMON_URL=http://<rpcuser>:<rpcpassword>@127.0.0.1:8834/

SERVICES=tcp://0.0.0.0:50001,rpc://127.0.0.1:8000
PEER_DISCOVERY=off
PEER_ANNOUNCE=
REPORT_SERVICES=

DB_ENGINE=leveldb
CACHE_MB=1200
REORG_LIMIT=1000
MAX_SESSIONS=256
REQUEST_TIMEOUT=60
SESSION_TIMEOUT=600
LOG_LEVEL=info
PRECACHE_HEADER_MERKLE=false
